node_modules/
dist/
*.js.map
*.d.ts
!src/
.env
download/
skills/
worklog.md
filament-docs/
filamentphp-repo/.blade.format.json
filamentphp-repo/.editorconfig
filamentphp-repo/.env.testing.example
filamentphp-repo/.gitattributes
filamentphp-repo/.gitignore
filamentphp-repo/.prettierignore
filamentphp-repo/.prettierrc
filamentphp-repo/CLAUDE.md
filamentphp-repo/CODE_OF_CONDUCT.md
filamentphp-repo/LICENSE.md
filamentphp-repo/README.md
filamentphp-repo/SECURITY.md
filamentphp-repo/composer.*
filamentphp-repo/ide.json
filamentphp-repo/monorepo-builder.php
filamentphp-repo/package*.json
filamentphp-repo/phpstan*
filamentphp-repo/phpunit*
filamentphp-repo/pint*
filamentphp-repo/postcss.config.cjs
filamentphp-repo/rector.php
filamentphp-repo/testbench.yaml
filamentphp-repo/translators.csv
